/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        // -----------------------------------------------------------------------------------------
        // |  TAB |  Q  |  W  |  F  |  P  |  B  |   |  J  |  L   |  U  |  Y  |  ;  | BKSP |
        // | GUI |  A  |  R  |  S  |  T  |  G  |   |  M  |  N   |  E  |  I  |  O  |  '   |
        // | LSHFT |  Z  |  X  |  C  |  D  |  V  |   |  K  |  H   |  ,  |  .  |  /  | SHFT  |
        //                    | ALT | LWR | SPC |   | ENT | RSE  | CTRL |

        default_layer {
            bindings = <
             &kp TAB  &kp Q  &kp W     &kp F  &kp P      &kp B      &kp J  &kp L      &kp U    &kp Y  &kp SEMI               &kp BSPC
&mt ESC LEFT_COMMAND  &kp A  &kp R     &kp S  &kp T      &kp G      &kp M  &kp N      &kp E    &kp I     &kp O                &kp SQT
           &kp LSHFT  &kp Z  &kp X     &kp C  &kp D      &kp V      &kp K  &kp H  &kp COMMA  &kp DOT  &kp FSLH  &mt MINUS RIGHT_SHIFT
                                    &kp LALT  &mo 1  &kp SPACE    &kp RET  &mo 2  &kp RCTRL
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans     &kp EXCL      &kp AT        &kp LEFT_BRACE        &kp RIGHT_BRACE     &kp GRAVE           &kp PIPE  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9   &kp NUMBER_0          &kp DEL
&trans     &kp HASH  &kp DOLLAR  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp KP_MINUS           &kp AMPS  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6       &kp PLUS        &kp EQUAL
&trans  &kp PERCENT   &kp CARET      &kp LEFT_BRACKET      &kp RIGHT_BRACKET     &kp TILDE    &kp KP_MULTIPLY  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp KP_DIVIDE  &kp PRINTSCREEN
                                               &trans                 &trans        &trans             &trans        &trans        &trans
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
   &kp 0           &kp 0      &kp 0             &kp 0         &kp 0            &kp 0      &kp N6     &kp 0    &kp UP    &kp DEL     &kp INSERT  &kp BSPC
   &kp 0  &kp LEFT_SHIFT  &kp LCTRL  &kp LEFT_COMMAND  &kp LEFT_ALT  &kp C_AC_SEARCH    &kp HOME  &kp LEFT  &kp DOWN  &kp RIGHT  &kp RIGHT_WIN   &kp END
&kp CAPS          &trans     &trans            &trans        &trans           &trans       &kp 0     &kp 0     &kp 0      &kp 0          &kp 0     &kp 0
                                               &trans        &trans           &trans      &trans    &trans    &trans
            >;
        };
    };
};
